<h2>A Magical Journey</h2>
<p>One day, @Model.GetPerson() and @Model.GetPersonTwo()
were walking through the woods, when suddenly a giant @Model.GetAnimal() appeared.
 "@Model.GetNoun()", @Model.GetPersonTwo cried.
 The two of them @Model.GetVerb() as quickly possible, and when they were safe,
 @Model.GetPerson and @Model.GetPersonTwo
 gave each other a giant @Model.GetNoun()
</p>
