<h2>A Magical Journey</h2>
<p>One day, @Model.GetPerson() and @Model.GetPersonTwo() were walking through the</p> <p>woods, when suddenly a giant @Model.GetAnimal() appeared. "@Model.GetExpression()",</p>
<p> @Model.GetPersonTwo() cried. The two of them @Model.GetVerb() as quickly possible,</p>
<p>and when they were safe, @Model.GetPerson() and @Model.GetPersonTwo() gave each other a giant @Model.GetNoun()</p>
